{% extends "base_admin.html" %}

{% block content %}
<div class="container"> 
  <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-0">Admin Examenes</h1>
      <div class="d-flex align-items-center">
          <button class="btn btn-success" onclick="mostrarFormulario()">Añadir</button>
      </div>
  </div>

  <table  class="table table-striped mt-5">
      <thead>
        <th>Id Examen</th>
        <th>Nombre Examen</th>
        <th>Descripcion Examen</th>
        <th>Precio Examen</th>
      </thead>
      <tbody id="examLista">
      </tbody>
    </table>

  <ul id="examenList" class="list-group"></ul>
 

  <div id="formulario" style="display: none;" class="container">
      <form id="examenForm">
          <div class="mb-3">
              <label for="articletitle" class="form-label">Id Examen</label>
              <input type="text" class="form-control" name="id_examen"  >
          </div>
          <div class="mb-3">
              <label for="articlebody" class="form-label">Nombre Examen</label>
              <input type="text" class="form-control" name="name_examen" >
          </div>
          <div class="mb-3">
              <label for="articleauthor" class="form-label">Descripcion Examen</label>
              <input type="text" class="form-control" name="description_examen" >
          </div>
          <div class="mb-3">
              <label for="articleauthor" class="form-label">Precio Examen</label>
              <input type="text" class="form-control" name="precio_examen">
          </div>
          <button type="submit" class="btn btn-success">Agregar</button>
      </form>     
  </div>
</div>  
{% endblock %}
