{% extends "base_admin.html" %}

{% block content %}
            <div class="container"> 
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mb-0">Admin Usuarios</h1>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-success" onclick="mostrarFormulario()">Añadir</button>
                    </div>
                </div>
            
                <table  class="table table-striped mt-5">
                    <thead>
                      <th>Id Usuario</th>
                      <th>Nombre Usuario</th>
                      <th>Apellido Usuario</th>
                      <th>Email Usuario</th>
                    </thead>
                    <tbody id="usuarioLista">
                    </tbody>
                  </table>
            
                <ul id="usuarioList" class="list-group"></ul>
               
            
                <div id="formulario" class="container mt-5" style="display: none;">
                    <h2>Registrar Usuario</h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="container mt-3">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                                <script>
                                    // JavaScript para ocultar las alertas después de un tiempo específico
                                    setTimeout(function() {
                                        var alerts = document.querySelectorAll('.alert');
                                        alerts.forEach(function(alert) {
                                            alert.style.display = 'none';
                                        });
                                    }, 5000);  // Oculta las alertas después de 5 segundos
                                </script>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="post" id="usuarioForm" action="{{ url_for('register') }}" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="username">Nombre:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            <div class="invalid-feedback">
                                Please enter your nombre.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Apellido:</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required>
                            <div class="invalid-feedback">
                                Please enter your apellido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                            <div class="invalid-feedback">
                                Please enter your email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="invalid-feedback">
                                Please enter your password.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Registrar Usuario</button>
                    </form>
                </div>
{% endblock %}
