{% extends "base.html" %}

{% block content %}
    
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="{{ url_for('static', filename='img/nosotros.jpg')}}"/>
      </div>
      <div class="col-md-6">
        <p class="text-justify"> Bienvenido a Medicina A Tu Puerta, tu aliado en el cuidado de la salud desde la comodidad de tu hogar. En Medicina A Tu Puerta, comprendemos la importancia de brindar atención médica oportuna, segura y de calidad, especialmente cuando la movilidad o el tiempo son un desafío. <br><br>
  
          Nue stro compromiso es llevar la atención médica hasta tu puerta, permitiéndote acceder a una amplia gama de servicios médicos desde la tranquilidad de tu hogar. Contamos con un equipo de profesionales altamente capacitados y apasionados por tu bienestar, quienes se desplazarán hasta tu domicilio para brindarte una atención personalizada y enfocada en tus necesidades específicas. <br><br>
  
          Creemos que cada individuo merece recibir atención médica con dignidad y respeto, y es por eso que en Medicina A Tu Puerta nos esforzamos por proporcionar un servicio humano, compasivo y basado en la empatía. Nuestro enfoque centrado en el paciente nos impulsa a ofrecer soluciones médicas integrales que mejoren tu calidad de vida y la de tus seres queridos.
        </p>
      </div>
    </div>
  </div>
  

  <div class="container mt-5">
    <div class="row">
      <!-- Columna para la Misión -->
      <div class="col-md-6">
        <h2 class="text-center text-primary">Misión</h2>
        <p>
          Nuestra misión es proporcionar productos y servicios de alta calidad que satisfagan las necesidades de nuestros clientes. Nos comprometemos a mantener altos estándares de calidad, innovación y responsabilidad social en todas nuestras operaciones.
        </p>
      </div>

      <!-- Columna para la Visión -->
      <div class="col-md-6">
        <h2 class="text-center text-primary">Visión</h2>
        <p>
          Nuestra visión es ser líderes en nuestra industria, reconocidos por nuestra excelencia y compromiso con la satisfacción del cliente. Aspiramos a expandir nuestro alcance globalmente mientras seguimos manteniendo nuestros valores fundamentales.
        </p>
      </div>
    </div>
  </div>


  <div class="container mt-5 ">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-primary">Compromiso con la Calidad</h2>
        <p>
            Nuestra prioridad es tu bienestar y seguridad. Nos enorgullecemos de mantener los más altos estándares de calidad en cada aspecto de nuestros servicios médicos a domicilio. Nuestro compromiso con la excelencia se refleja en cada etapa de tu experiencia con nosotros:
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <!-- Primer elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemuno.jpg')}}"/>
        <h5 class="mt-3">Profesionales altamente capacitados</h5>
      </div>
  
      <!-- Segundo elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemdos.jpg')}}"/>
        <h5 class="mt-3">Atención personalizada</h5>
      </div>
  
      <!-- Tercer elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemtres.jpg')}}"/>
        <h5 class="mt-3">Equipos y tecnología avanzados</h5>
      </div>
  
      <!-- Cuarto elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemcuatro.jpg')}}"/>
        <h5 class="mt-3">Cumplimiento de normativas y estándares</h5>
      </div>
  
      <!-- Quinto elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemcinco.jpg')}}"/>
        <h5 class="mt-3">Evaluación y retroalimentación constante</h5>
      </div>
  
      <!-- Sexto elemento -->
      <div class="col-md-2 text-center">
        <img alt="Imagen 1" class="rounded-circle" width="150" src="{{ url_for('static', filename='img/itemseis.jpg')}}"/>
        <h5 class="mt-3">Seguridad y confidencialidad</h5>
      </div>
    </div>
  </div>

{% endblock %}